/*nav bar*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav {
    font-weight: 600;
}

li, a {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: white;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #855398;
    height: 80px;
}

img {
    width: 60px;
}

.logo {
    cursor: pointer;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: #FB8636;
}

/*body*/

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: white;
}

.foto-capa {
    height: 300px;
    width: 1344px;
    margin: auto;
    background-color: #FB8636;
}

.corpo {
    width: 1344px;
    margin: auto;
    background-color: #FFBB7C;
    padding: 50px;
}

.profile-photo {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin: 0 40px 0 90px;
}

.sobre {
    background-color: #855398;
    padding: 50px;
    width: 300px;
    margin: 40px;
    text-align: center;

}

.pontuação {
    margin: 0 0 0 900px;
    background-color: #855398;
    padding: 50px;
    width: 300px;
    text-align: center;
}

.capa {
    width: 1344px;
    height: 300px;
}

.box {
    background-color: #855398;
    width:250px;
    height: 350px;
    text-align: center;
    border-radius: 5px;
}

.box-interno {
    background-color: #FB8636;
    padding: 20px;
    color: white;
    text-align: left;
    border-radius: 5px 5px 0 0;
}

.projeto-1 {
    padding-top: 30px;
    width: 240px;
    height: 240px;
}

.projetos-ativos {
    display: flex;
    width: 80%;
    justify-content: space-around;
    margin: auto;
}

.orange-box {
    width: 1344px;
    background-color: #FFBB7C;
    margin: auto;
    padding-bottom: 50px;
}

h1 {
    padding-left: 144px;
    padding-bottom: 30px;
}

.h1 { 
    font-size: 32px;
    color: #855398;
}